{% extends 'base.html' %}
{% load static %}

{% block title %}CV Design Detail - {{ cvdesign.alias }}{% endblock %}

{% block content %}
<div class="container my-5">
    <h2>CV Design Detail: {{ cvdesign.alias }}</h2>
    <div class="card shadow p-4">
        <dl class="row">
            <dt class="col-sm-3">Alias</dt>
            <dd class="col-sm-9">{{ cvdesign.alias }}</dd>

            <dt class="col-sm-3">Theme</dt>
            <dd class="col-sm-9">{{ cvdesign.get_theme_display }}</dd>

            <dt class="col-sm-3">Design File</dt>
            <dd class="col-sm-9">
                {% if cvdesign.design_file %}
                    <a href="{{ cvdesign.design_file.url }}" target="_blank">Download Design File</a>
                {% else %}
                    No design file uploaded.
                {% endif %}
            </dd>
        </dl>

        <a href="{% url 'cvdesign-list' %}" class="btn btn-secondary">Back to List</a>
        <a href="{% url 'cvdesign-edit' design_id=cvdesign.id %}" class="btn btn-primary">Edit</a>
        <a href="{% url 'cvdesign-delete' design_id=cvdesign.id %}" class="btn btn-danger">Delete</a>
    </div>
</div>
{% endblock %}
