{% load custom_filters %}

<dt class="col-sm-3">Company</dt>
<dd class="col-sm-9">{{ entry.company|default:"-" }}</dd>

<dt class="col-sm-3">Position</dt>
<dd class="col-sm-9">{{ entry.position|default:"-" }}</dd>

<dt class="col-sm-3">Location</dt>
<dd class="col-sm-9">{{ entry.location|default:"-" }}</dd>

<dt class="col-sm-3">Start Date</dt>
<dd class="col-sm-9">{{ entry.start_date|date:"M Y"|default:"-" }}</dd>

<dt class="col-sm-3">End Date</dt>
<dd class="col-sm-9">{{ entry.end_date|date:"M Y"|default:"-" }}</dd>

<dt class="col-sm-3">Date</dt>
<dd class="col-sm-9">{{ entry.date|date:"M Y"|default:"-" }}</dd>

<dt class="col-sm-3">Summary</dt>
<dd class="col-sm-9">{{ entry.summary|default:"-" }}</dd>

<dt class="col-sm-3">Highlights</dt>
<dd class="col-sm-9">
    {% if entry.highlights %}
    <ul>
        {% for highlight in entry.highlights|split_highlights %}
        <li>{{ highlight }}</li>
        {% endfor %}
    </ul>
    {% else %}
    -
    {% endif %}
</dd>